---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Background from "../components/Background.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-screen flex bg-slate-50">
    <Background />

    <main class="w-screen z-10 flex justify-center items-center min-h-screen text-white flex-col">
      <div class="w-fit text-center">
        <h1 class="text-2xl md:text-4xl">
          Hi i'm a <br />
          <span class="font-bold text-5xl md:text-7xl">Nathan Russell</span>
        </h1>
        <div class="text-2xl md:text-4xl mr-auto">and I'm a full-stack developer</div>
        <div class="flex flex-col md:flex-row items-center  gap-4 md:gap-8 justify-center mt-8">
          <a href="//github.com/NathanDRussell" target="_blank" class="group">
            <i class="ph-fill ph-github-logo md:text-lg text-white text-opacity-50 group-hover:text-white"></i>
            <span class="md:text-xl font-light text-white text-opacity-50 group-hover:text-white">Github</span>
          </a>
          <a href="//www.linkedin.com/in/nathan-russell-a97076136" target="_blank" class="group">
            <i class="ph-fill ph-linkedin-logo md:text-lg text-white text-opacity-50 group-hover:text-white"></i>
            <span class="md:text-xl font-light text-white text-opacity-50 group-hover:text-white">LinkedIn</span>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
